body{
   
    background-color: #ccc;   /*color en codigo hexadecimal o rgb*/
    
    background-size: 1400px 700px;   /*contain, cover, pixel,porcentaje*/
    
    background-image: url(imagenes/ppp.jpg);
    
    background-repeat: no-repeat;   /*no-repeat , repeat*/
    
    background-attachment: fixed;   /* scroll, fixed*/
}